<div id="site_main_nav" class="col-md-2" >
    <div class="panel panel-deepblue">
        <div  class="panel-heading">
            <h4>菜单</h4>
        </div>
        <div class="panel-body panel-deepblue" style="max-height:600px; overflow:auto">
            <ul ng-repeat="menu in loginUser.menuVoList">
                <p style="font-size: 14px;font-weight: bold;text-align: left;">{{menu.category}}</p>
                <li style="text-align: left;" ng-repeat="sub in menu.menuSubList">
                    <a href="{{sub.resourceUrl}}">{{$index+1}}.{{sub.resourceName}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>