body {
    font: 13px/1.5 Helvetica, "微软雅黑", "黑体", Arial, Tahoma;
}
a{cursor: pointer;}
.font-weight-bold {font-weight:bold;}
.red-font {color:red;}
.align-right {text-align: right;}
.clear-bg {background-color: transparent;}
.clear-bor {border: none;}
.bor-grid [class^=col-] {border: solid black 1px;}
.modal-body-sub {position: relative; padding: 10px;}
.date-input {cursor: pointer;background-color: #fff !important;}
.pointer {cursor: pointer;}
.auto-overflow {overflow: auto;}
.edit-td {background-color: transparent;border: none;}
/*.edit-td:focus {background-color: #eee;}*/

.max-width-768 {}
@media (max-width: 768px) {
    .max-width-768 {
        display: none;
    }
}

/* Color */
.fc-gray-darker {color: #222;}
.fc-gray-dark {color: #333;}
.fc-gray {color: #555;}
.fc-gray-light {color: #777;}
.fc-gray-lighter {color: #eee;}