<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">包裹上架</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">库位号</span>
                            <input type="text" class="form-control text-control" id="locCode" placeholder="LOC CODE"
                                   ng-model="putUp.locCode"
                                   ng-keydown="locCodeKeyPressEvent($event);"
                                   ng-change="putUp.locCode = putUp.locCode.toUpperCase();wmLocation = {};" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">包裹号</span>
                            <input type="text" class="form-control text-control" id="putUpNo" placeholder="PIECES NO"
                                   ng-model="putUp.putUpNo"
                                   ng-keydown="putNoKeyPressEvent($event);"
                                   ng-change="putUp.putUpNo = putUp.putUpNo.toUpperCase();"
                                   ng-readonly="!wmLocation.wmLocationId" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>

<div class="row" ng-show="wmLocation.wmLocationId">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>包裹号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in wmLocationCurrentList">
                            <td>{{$index + 1}}</td>
                            <td>{{item.piecesNo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>