<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">包裹核重</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">包裹号</span>
                            <input placeholder="PIECES NO" id="queryNo" type="text" class="form-control text-control"
                                   ng-model="queryParam.queryNo"
                                   ng-keypress="queryKeypressEvent($event)"
                                   ng-change="queryParam.queryNo = queryParam.queryNo.toUpperCase()" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>
<div class="row" ng-show="consignment.tmPiecesId">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">包裹号：{{consignment.piecesNo | emptyValue:'无'}}</div>
                    <div class="col-sm-4">运单号：{{consignment.consignmentNo | emptyValue:'无'}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">实重重量：{{consignment.actualWeight | emptyValue:'无'}}&nbsp;{{UnitsConfig.weightUnit}}</div>
                    <div class="col-sm-4">体积重(L/W/H)：{{consignment.volumeWeight | emptyValue:'无'}}&nbsp;{{UnitsConfig.weightUnit}}
                        ({{consignment.length}}/{{consignment.width}}/{{consignment.height}}&nbsp;{{UnitsConfig.volumeUnit}})
                    </div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>
<div class="row" ng-show="consignment.tmPiecesId">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">实重核重</span>
                            <input type="text" class="form-control text-control" placeholder="KERNEL WEIGHT" id="kernelWeight"
                                   ng-model="kernelWeight"
                                   ng-keypress="keyPressSaveKernelEventForKernelWeight($event);" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">体积重核重</span>
                            <input type="text" class="form-control text-control" placeholder="KERNEL VOLUMN WEIGHT" readonly
                                   ng-model="kernelVolumeWeight.weight" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="showKernelVolumeWeightModal()"><i class="fa fa-keyboard-o"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" ng-click="saveKernelWeight()"><i class="glyphicon glyphicon-floppy-save"></i>保存</button>
                    </div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>

<!-- Kernel volume weight Modal -->
<div class="modal fade" id="kernelVolumeWeightModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelKernelVolumeWeightModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">计算体积重</h4>
            </div>
            <!-- modal-body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">长</span>
                            <input type="text" class="form-control" placeholder="LENGTH" maxlength="5" ng-model="kernelVolumeWeight.length" id="length" />
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">宽</span>
                            <input type="text" class="form-control" placeholder="WIDTH" maxlength="5" ng-model="kernelVolumeWeight.width" />
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">高</span>
                            <input type="text" class="form-control" placeholder="HEIGHT" maxlength="5" ng-model="kernelVolumeWeight.height" />
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal-body end -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="calculateVolumeWeight()"><i class="glyphicon glyphicon-ok" />计算体积重</button>
                <button type="button" class="btn btn-default" ng-click="cancelKernelVolumeWeightModal()"><i class="glyphicon glyphicon-remove" />取消</button>
            </div>
            <!-- modal-footer end -->
        </div>
    </div>
</div>