<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">转运仓系统</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="userName" placeholder="用户名" autofocus
                           ng-model="userName"
                           ng-readonly="loginStatus == 'success'"
                           ng-keydown="keyPressGetCountryAuthEvent($event);" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="密码"
                           ng-model="password"
                           ng-readonly="loginStatus == 'success'"
                           ng-keydown="keyPressGetCountryAuthEvent($event);" />
                </div>

                <div ng-show="loginStatus == 'success'">
                    <div class="form-group">
                        <label>选择仓库</label>
                        <select class="form-control"
                                ng-model="countryCode"
                                ng-change="getWarehouseByCountryChange()">
                            <option value="">-- COUNTRY --</option>
                            <option ng-repeat="row in userCountryAuthList.cdCountryList" value="{{row.countryCode}}">{{row.countryName}}&nbsp;{{row.countryEnglishName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control"
                                ng-model="warehouseCode"
                                ng-keydown="keyPressLoginEvent($event);"
                                ng-options="row.warehouseCode as row.warehouseDesc for row in warehouseList">
                            <option value="">-- WAREHOUSE --</option>
                        </select>
                    </div>
                </div>

                <button type="button" class="btn btn-lg btn-success btn-block"
                        ng-show="loginStatus == 'initial'"
                        ng-click="getLoginUserCountryAuth()">登录</button>
                <button type="button" class="btn btn-lg btn-success btn-block"
                        ng-show="loginStatus == 'success'"
                        ng-click="login()">登录</button>
                <button type="button" class="btn btn-lg btn-success btn-block"
                        ng-click="reset()">重置</button>
            </div>
        </div>
    </div>
</div>
</div>