<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">称重</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">关联号</span>
                            <input type="text" class="form-control" id="logisticNo" placeholder="LOGISTICS NO"
                                   ng-model="piecesResultVo.logisticsNo"
                                   ng-change="logisticsNoChange();"
                                   ng-keydown="keyPressQueryEvent($event);" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">实重</span>
                            <input type="text" class="form-control text-control" id="acturalWeight" placeholder="WEIGHT"
                                   ng-model="piecesResultVo.actualWeight"
                                   ng-readonly="isNotSearchPieces"
                                   ng-keydown="keyPressEventOfActualWeight($event);"/>
                            <span class="input-group-addon">{{UnitsConfig.weightUnit}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">体积重</span>
                            <input type="text" class="form-control" placeholder="VOLUME WEIGHT" readonly
                                   ng-model="piecesResultVo.volumeWeight" />
                            <span class="input-group-addon">{{UnitsConfig.weightUnit}}</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-disabled="isNotSearchPieces"
                                        ng-click="showVolumeWeightModal()"><i class="fa fa-keyboard-o"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="!isNotSearchPieces">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" ng-click="clickBtnStockIn()"><i class="glyphicon glyphicon-floppy-save"></i><i class="glyphicon glyphicon-print"></i>入库</button>
                        <button type="button" class="btn btn-primary" ng-click="printPiecesStorageLabel()"><i class="glyphicon glyphicon-print"></i>打印标签</button>
                    </div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>
<div class="row" ng-show="piecesResultVo.tmPiecesId">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- panel-body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">包裹号：{{piecesResultVo.piecesNo}}</div>
                    <div class="col-sm-4">运单号：{{piecesResultVo.consignmentNo}}</div>
                </div>
            </div>
            <!-- panel-body end -->
        </div>
    </div>
</div>

<!-- Volume weight Modal -->
<div class="modal" id="volumeWeightModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelVolumeWeightModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">计算体积重</h4>
            </div>
            <!-- modal-body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">长</span>
                            <input type="text" class="form-control" placeholder="LENGTH" maxlength="5" ng-model="piecesResultVo.length" id="length"/>
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">宽</span>
                            <input ng-model="piecesResultVo.width" placeholder="WIDTH" maxlength="5" type="text" class="form-control" />
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">高</span>
                            <input ng-model="piecesResultVo.height" placeholder="HEIGHT" maxlength="5" type="text" class="form-control" />
                            <span class="input-group-addon">{{UnitsConfig.volumeUnit}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal-body end -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="calculateVolumeWeight()"><i class="glyphicon glyphicon-ok" />计算体积重</button>
                <button type="button" class="btn btn-default" ng-click="cancelVolumeWeightModal()"><i class="glyphicon glyphicon-remove" />取消</button>
            </div>
            <!-- modal-footer end -->
        </div>
    </div>
</div>